

@mixin shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

@mixin no-margin {
  margin: 0 0;
  padding: 0 0;
}

@mixin mQ($arg...){

  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }

  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }

}